li
    padding: 0 0.8em

@media (max-width: $breakpoint-mobile)
    li
        padding: 4px .6em 5px

#logo
    //margin-top: 5px

#logo-letters
    margin: 0 0 5px 12px

.links
    margin: 13px 0 9px

.terms
    margin-bottom: 63px

.main
    margin: 20px
    padding: 12px 23px 26px

@media (max-width: $breakpoint-mobile)
    .main
        margin: 0
        padding: 12px 15px 26px


