@import './../sass/_settings.sass' , './../sass/_colors.sass', './../sass/_checkbox.scss'

// All (any size)
.form-container
    display: block
    margin-top: 7%
    height: 100%

.form
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%)

// iPhone SE
.form-container
    margin-top: 13%

.form
    max-width: 249px
    padding: 18px
    margin: 0 auto

.prevent-growin-by-child
    margin: 23px 0 20px
    position: initial

.email-box
    background-color: white
    border: 1px solid $light
    border-left: 4px solid $action
    display: flex
    justify-content: space-between

.email-box:hover
    box-shadow: 0px 30px 40px rgba(9, 12, 16, 0.06)
    border: 1px solid $hover
    border-left: 4px solid $action

input.email
    padding: 0 0 5px 14px
    border: none

input.email-desktop
    display: none

input#image
    padding: 0

.terms
    margin: 0 0 28px

// // iPhone 8 and more
@media (min-width: $breakpoint-mobile)
    .form
        max-width: 269px
        padding: 27px

    .terms
        margin: 0 0 28px

// Tablet+
@media (min-width: $breakpoint-tablet)
    .form-container
        display: block
        margin-top: 7%

    .form
        padding: 5% 4% 0

    .prevent-growin-by-child
        margin: 7px 0 27px

    input.email
        padding: 0 0 5px 14px

    .terms
        margin: 0 0 30px

// Desktop
@media (min-width: $breakpoint-desktop)
    .form-container
        display: grid
        grid-template-rows: 1fr 7fr 1.3fr
        padding: 0
        margin: 0

    .form
        margin: 0
        padding: 0 17%
        height: auto
        max-width: 350px
        background: none

    .prevent-growin-by-child
        position: relative
        margin: 23px 0 110px

    .email-box
        display: inline-flex
        z-index: 3
        position: absolute
        top: 0px
        width: 490px
        left: -32px

    .email-box:hover
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06)

    .email
        overflow: hidden
        text-overflow: ellipsis

    // .email-input-mobile

    input.email
        display: none //hide desktop version input (wider input 'size') 

    input.email-desktop
        display: inline-block
        padding: 0 0 6px 25px
        border: none

    input#image
        border: 0 solid black
        background-repeat: no-repeat
        background-size: cover
        height: 58px

    .terms
        margin-bottom: 30px

// Desktop HD
@media (min-width: $breakpoint-desktop-hd)
    .form-container
        grid-template-rows: 1fr 3fr 1.6fr

    .form
        padding: 0 21%
        max-width: 420px

    .email-box
        width: 618px
        left: -40px

    .terms
        margin-bottom: 35px
